/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

/* Common */

.d-flex {
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body{
    padding-top: 65px;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}

.blue-button{
    background-color: #0061fe;
    color: #ffffff;
}

.blue-button:hover{
    filter: brightness(1.4);
}

.check{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* header */

header {
    background-color: #ffffff;
    padding: 22px 20px;
    box-shadow: 0 1px 5px 0 #777;
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}

header ul{
    gap: 40px;
    align-items: center;
    font-size: 18px;
}

header a{
    color: #000;
    display: block;
}

header li:hover {

    border-bottom: 2px solid #000;
}

header .blue-button {
    display: inline-block;
    background-color: #0061fe;
    padding: 7px 10px;
}

header .blue-button:hover{
    filter: brightness(1.4);
    border: none;
}

header .blue-button a{
    color: #ffffff;
}

/* main jumbotron */

.container{
    width: 1200px;
    margin: 0 auto;
}

main h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 75px;
}

main p{
    padding-bottom: 30px;
}

main .blue-button{
    padding: 10px 10px;
}

main .aside-element span{
    display: block;
    padding-top: 30px;
    padding-bottom: 80px;
}

main i.fa-arrow-down{
    font-size: 40px;
    padding-bottom: 20px;
}

main .aside-element{
    width: 30%;
    
}

main .container{
    position: relative;
    top: 100px;
}

main .jumbotron{
    background-color: #b4d0e6;
    padding-top: 140px;
    margin-bottom: 150px;
}

main .jumbo-info{
    display: flex;
}

main .image-jumbo{
    width: 70%;
    display: flex;    
}

/* main sezione 1 */

main .container-sec{
    width: 1000px;
    margin: 0 auto;
}

main h2{
    font-size: 35px;
    margin-bottom: 70px;
}

main .check.off{
    border: 2px solid #bcbbbb;
}

main .check.on{
    border: 4px solid #0061fe;
}

main .choice{
    padding: 0;
    margin-left: 5px;
    display: inline-block;
}

main .d-flex.choice-box{
    gap: 50px;
    align-items: center;
}

main .griglia{
    padding: 50px 0;
    gap: 50px;
    flex-wrap: wrap;
}


main .griglia .cells{
    flex-wrap: wrap;
    width: calc((100% - 100px) / 3);
    flex-shrink: 0;
    
}

main .cells{
    background-color: #dbe8fc;
    border: 1px solid #d0cfd4;
    /* height: 200px; */
    /* padding: 0 30px; */
}

main div.cell-maxwidth{
    width: 100%;
}

main h4{
    padding: 12px 0;
    border-bottom: 1px solid #d0cfd4;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}