/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

/* Common */

.d-flex {
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.open-sans-font {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* header */

header {
    background-color: #ffffff;
    padding: 20px 10px;
}

header .big {
    width: 100%;
    margin: 0 auto;
}

header .d-flex{
   justify-content: space-between;
}


header li>a {
    color: #000;
    padding: 20px 20px;
}

header ul.d-flex {
    align-items: center;
    font-size: 18px;
}

header li a:hover {
    border-bottom: 2px solid #000;
    transition: 0.3s;
}

header li a.blue-button {
    background-color: #0061fe;
    color: #ffffffff;
    padding: 5px 10px;
}

header li a.blue-button:hover{
    background-color: #609af8;
    border-bottom: none;
    transition: 0.3s;
}